.topp{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: white;
    align-items: top;
    
}
.topp img{
    margin: 0px;
    border-bottom: 5px solid rgb(11, 145, 235);
}
ul {
    height:13%;
    width:auto;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    float: right;
    margin:0px;
    font-weight: bold;
    /* justify-content:right; */
}

a.cd {
    float: left;
    width: auto;
    height: 75px;
    text-decoration: none;
    color: rgb(11, 145, 235);
    background-color: white;
    padding-top:8em;
    padding: 1.7em 0.6em;
    width: 100%;
    border-bottom: 5px solid rgb(11, 145, 235);
}
body{background-color:white;}

a.cd:hover {
    transition-duration: 0.5s ;
    background-color: rgb(250, 244, 114);
    text-decoration: underline;
}

li {display: inline;}
    